# Ignore node_modules folder
node_modules/

# Ignore all .log files
*.log

# Ignore build and dist directories
build/
dist/

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db
